[defaults]
# Plugins Ansible pour Ansible-SecAgent
inventory_plugins = ./ansible_plugins/inventory_plugins
connection_plugins = ./ansible_plugins/connection_plugins

# Inventory dynamique via secagent-inventory binary (GO)
inventory = /usr/local/bin/secagent-inventory

# Pour les tests locaux, désactiver la vérification d'hôte
host_key_checking = False

# Variables d'authentification relay (section lue par le connection plugin)
[secagent_connection]
token_file = /tmp/secagent_token.jwt
server = http://relay-api:7770
ca_bundle =
