[defaults]
# Plugins Ansible pour AnsibleRelay
inventory_plugins = ./ansible_plugins/inventory_plugins
connection_plugins = ./ansible_plugins/connection_plugins

# Inventory dynamique via relay-inventory binary (GO)
inventory = /usr/local/bin/relay-inventory

# Pour les tests locaux, désactiver la vérification d'hôte
host_key_checking = False

# Variables d'authentification relay (section lue par le connection plugin)
[relay_connection]
token_file = /tmp/relay_token.jwt
server = http://relay-api:7770
ca_bundle =
